<ht-top-nav navline="vm.navline"></ht-top-nav>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <ng-include src="'app/layout/sidebar.html'"></ng-include>
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <ncy-breadcrumb></ncy-breadcrumb>

    <!-- Main content -->
    <section class="content">
        <div ui-view class="shuffle-animation"></div>

        <div ngplus-overlay
             ngplus-overlay-delay-in="50"
             ngplus-overlay-delay-out="700"
             ngplus-overlay-animation="dissolve-animation">
            <img src="images/busy.gif"/>

            <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
        </div>
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.0
    </div>
    <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
</footer>
